@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;

	font-family: Comfortaa;
}

body
{
	background-color: #C0C0C0;
	height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;

	overflow: hidden;
}

main
{
	padding: 15px 5px 10px 5px;
	background-color: #928686;

	height: 80vh;
	width: 70vw;

	display: flex;
	flex-direction: column;
	gap: 25px;

	position: relative;
}

h1
{
	font-weight: bold;
	font-size: 24px;
}

h2
{
	font-weight: 200;
	font-size: 14px;
}

ul
{
	height: 72%;
	list-style: none;

	display: flex;
	flex-direction: column;
	gap: 8px;

	overflow-y: scroll;
}

li,
input
{
	background-color: #C4C4C4;
	padding: 2px 2px 2px 15px;

	width: 100%;

	font-size: 16px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

li p
{
	text-transform: capitalize;
}

input
{
	height: 36px;
	outline: none;
}

input:focus
{
	box-shadow: 0 0 8px crimson;
}

li span,
button
{
	font-weight: bold;
	width: 24px;
	height: 24px;
	background-color: #131313;
	user-select: none;
	cursor: pointer;
	color: crimson;

	display: flex;
	align-items: center;
	justify-content: center;
}

button
{
	width: 36px;
	height: 36px;

	color: lime
}

form
{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

div.novo-fazer
{
	display: flex;
}